# Ignore generated meshes
**/polyMesh/**

# Ignore results
[0-9]*.[0-9]**
[0-9]*e**

# Ignore post-setFields ICs
**/0/**

# Ignore postProcessing
**/postProcessing/**

# Ignore legacy rhoReactingFoam cases (for now)
**/rhoReactingFoam/**

# Ignore Jupyter checkpoint folder
**/.ipynb_checkpoints/**
